<div class="container-fluid bg-light p-0"></div>
<div class="row gx-0 d-none d-lg-flex">
    <div class="col-lg-7 px-5 text-start">
        <div class="h-100 d-inline-flex align-items-center border-start border-end px-3">
            <small class="fa fa-phone-alt me-2"></small>
            <small>
                <a href="tel:{{adminPhone}}" style="color: inherit;">{{adminPhone}}</a>
            </small>
        </div>
        <div class="h-100 d-inline-flex align-items-center border-end px-3">
            <small class="far fa-envelope-open me-2"></small>
           <small>
                <a href="mailto:{{adminEmail}}" style="color: inherit;">{{adminEmail}}</a>
            </small>
        </div>
        <div class="h-100 d-inline-flex align-items-center border-end px-3">
            <small class="far fa-clock me-2"></small>
            <small><a href="{{calendarUrl}}" style="color: inherit;">Mon - Fri : 09 AM - 09 PM</a></small>
        </div>
    </div>
    <div class="col-lg-5 px-5 text-end">
        <div class="h-100 d-inline-flex align-items-center">
            <a class="btn btn-square border-end" href="{{instagramUrl}}"><i class="fab fa-instagram"></i></a>
            <a class="btn btn-square border-end" href="{{googleUrl}}"><i class="fab fa-google"></i></a>
            <a class="btn btn-square border-end" href="{{calendarUrl}}"><i class="fa fa-book"></i></a>
        </div>
    </div>
</div>
</div>